



/*-------------- TYPOGRAPHY --------------*/


@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Bold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}




/*-------------- ELEMENTS --------------*/

html {
	height: 100%;
	body {
		height: 100%;
		overflow: hidden;
	    font-family: "FiraSans", sans-serif;
	    font-weight: normal;
	    font-style: normal;
	}
}

//Screen (analagous to the Stage)
#screen {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 0;
	background-color: gray;
}




/*-------------- SWIPE REGIONS --------------*/

#bottom-swipe {
	position: absolute;
	height: 60px;	
	bottom: 0px; left: 0px;
	width: 100%;
	background-color: blue;
	opacity: 0;
	z-index: 20;
}

#topleft-swipe {
	position: absolute;
	height: 60px;	
	top: 0px; left: 0px;
	width: 70%;
	background-color: blue;
	opacity: 0;
	z-index: 20;
}

#topright-swipe {
	position: absolute;
	height: 60px;	
	top: 0px; right: 0px;
	width: 30%;
	background-color: blue;
	opacity: 0;
	z-index: 20;
}




/*-------------- CHROME --------------*/

.hidden {
	display: none;
}

#status-bar {
	width: 100%;
	height: 40px;
	position: absolute;
	top:0; left:0;
	z-index: 12;
	background: #000 url('../images/system/statusbar1.png') no-repeat right top;
}

#rocketbar-drawer {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left:0;
	z-index: 14;

	#cursor {
		width: 3px;
		height: 40px;
		background-color: white;
		margin: 20px 0 0 30px;
	}

	#background {
		position:absolute;
		top:40px;
		width: 100%;
		height: 100%;
	}
}

#settings-drawer {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left:0;
	z-index: 10;
	img {
		box-shadow: 0px 10px 15px rgba(0, 0, 0, .5);
	}
}

#keyboard {
	width: 100%;
	height: 410px;
	position: absolute;
	bottom:0; left:0;
	background: url('../images/system/keyboard.png') no-repeat;
}




/*-------------- SHEETS --------------*/

#frame {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 40px; left: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: -20;
}


#home {

	padding-top: 30px;

	.app-icon {
		float: left;
		margin: 10px 0 0 30px;
		font-size: 20px;
		font-weight: normal;
		white-space: nowrap;
	 	overflow: hidden;
	 	text-overflow: ellipsis;
	 	text-align: center;
	 	line-height: 1.2em;
		
		img {
			width: 122px;
			border-radius: 12px;
		}
	}
}




/*-------------- ANIMATIONS --------------*/

.delay{
	-webkit-animation-name: delay;
}
@-webkit-keyframes delay {
	0% { overflow: hidden; }
	100% { overflow: hidden; }
}


.fadeIn{
	-webkit-animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadeOut{
	-webkit-animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
	0% { opacity: 1; }
	100% { opacity: 0; }
}


.slideInDown {
	-webkit-animation-name: slideInDown;
}
@-webkit-keyframes slideInDown {
	0% { -webkit-transform: translateY(-780px); }
	100% { -webkit-transform: translateY(40px); }
}


.slideOutUp {
	-webkit-animation-name: slideOutUp;
}
@-webkit-keyframes slideOutUp {
	0% { -webkit-transform: translateY(40px); }
	100% { -webkit-transform: translateY(-780px); }
}


.darkenBG {
	-webkit-animation-name: darkenBG;
}
@-webkit-keyframes darkenBG {
	0% { background-color: rgba(0, 0, 0, 0); }
	100% { background-color: rgba(0, 0, 0, .7); }
}


.lightenBG {
	-webkit-animation-name: lightenBG;
}
@-webkit-keyframes lightenBG {
	0% { background-color: rgba(0, 0, 0, .7); }
	100% { background-color: rgba(0, 0, 0, 0); }
}

.showKeyboard {
	-webkit-animation-name: showKeyboard;
}
@-webkit-keyframes showKeyboard {
	0% { -webkit-transform: translateY(410px); }
	100% { -webkit-transform: translateY(0px); }
}


.hideKeyboard {
	-webkit-animation-name: hideKeyboard;
}
@-webkit-keyframes hideKeyboard {
	0% { -webkit-transform: translateY(0px); }
	100% { -webkit-transform: translateY(410px); }
}


.openFullRocketBar {
	-webkit-animation-name: openFullRocketBar;
}
@-webkit-keyframes openFullRocketBar {
	0% { height: 40px; }
	100% { height: 80px; }
}

.closeFullRocketBar {
	-webkit-animation-name: closeFullRocketBar;
}
@-webkit-keyframes closeFullRocketBar {
	0% { height: 80px; }
	100% { height: 40px; }
}

.blinking  {
	-webkit-animation-name: blinking;
}
@-webkit-keyframes blinking {
	0% { opacity: 0; }
	15% { opacity: 0; }
	35% { opacity: 1; }
	65% { opacity: 1; }
	85% { opacity: 0; }
	100% { opacity: 0; }
}



