/*-------------- TYPOGRAPHY --------------*/


@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSansOT-Bold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}





/*-------------- ELEMENTS --------------*/

html {
	height: 100%;
	body {
		height: 100%;
		overflow: hidden;
	    font-family: "FiraSans", sans-serif;
	    font-weight: normal;
	}
}

//Screen (analagous to the Stage)
#screen {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: gray;
}

#status-bar {
	position: relative;
	top:0; left:0;
	z-index: 10;
	width: 100%;
	height: 40px;
	background: #000 url('../images/system/statusbar1.png') no-repeat right top;
}

#home-swipe {
	position: absolute;
	height: 60px;	
	bottom: 0px; left: 0px;
	width: 100%;
	background-color: blue;
	opacity: 0.2;
	z-index: 11;
}

#rocketbar-swipe {
	position: absolute;
	height: 60px;	
	top: 0px; left: 0px;
	width: 70%;
	background-color: blue;
	opacity: 0.2;
	z-index: 11;
}

#settingsdrawer-swipe {
	position: absolute;
	height: 60px;	
	top: 0px; right: 0px;
	width: 30%;
	background-color: blue;
	opacity: 0.2;
	z-index: 11;
}

.test {
	font-size: 250%;
}

#frame {
	width: 100%;
	height: 100%;
	overscroll: hidden;
	background-color: #519fee;
}